<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Python Big Data Analysis Report</h1>
    <form action="" method="POST">
        <div class="symptom-container">
            <div class="box image1">
                <input type="submit" class="btn" name="action1" value="Service & Sales Status Report">
            </div>
        </div>
    </form>
    <form action="" method="POST">
        <div class="symptom-container">
            <div class="box image1">
                <input type="submit" class="btn" name="action2" value="New Model Service Report">
            </div>
        </div>
    </form>
    <form action="" method="POST">
        <div class="symptom-container">
            <div class="box image1">
                <input type="submit" class="btn" name="action3" value="Line Audit Result">
            </div>
        </div>
    </form>
    
</body>
</html>